@import "./sass/global/colors_var";
@import "./sass/global/global-rules";
@import "./sass/global/functions";
@import "./sass/global/mixins";
//
.exit-popup {
  @include wh(100%, 4600px);
  background-color: #ffffff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
  &.show {
    display: block;
  }
}
//
/* start header */
.header {
  background-color: $blue;
  position: relative;
  .container {
    @include centering;
    justify-content: space-between;
    height: 159px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .logo {
      height: 159px;
      @include centering;
      img {
        @include wh(208.72px, 36px);
        @include breakpoints(mobile) {
          & {
            @include wh(132.36px, 22.83px);
          }
        }
      }
    }
    .button-white {
      background: none;
      border-color: $white;
      @include wh(290px, 53px);
      font-size: 14px;
      line-height: 19.1px;
      @include buttons;
      @include breakpoints(mobile) {
        & {
          display: none;
        }
        &.mobile {
          display: block;
          @include wh(175px, 45px);
          padding: 12px 24px 14px;
        }
      }
    }
  }
}
/* end header */
//
/* start landing */
.landing {
  background-color: $blue;
  position: relative;
  min-height: calc(100vh - 159px);
  //popup video
  .container {
    @include centering;
    justify-content: space-between;
    padding-top: 100px;
    .popup {
      @include wh(800px, 500px);
      @include centeringTransform;
      z-index: 1000;
      box-shadow: 2px 2px 10px 1px $dark-blue, -2px -2px 10px 1px $dark-blue;
      display: none;
      transition: all 0.3s;
      video {
        @include samewh(100%);
      }
      &.show {
        display: block;
      }
      @include breakpoints(mobile) {
        @include wh(400px, 300px);
      }
    }
    .text {
      > h1 {
        color: $white;
        @include wh(665px, 233px);
        @include heading;
      }
      .button-green {
        @include greenButton;
      }
    }
    .image {
      position: relative;
      .shutterstock {
        @include wh(500px, 329px);
      }
      .groupesst {
        @include samewh(100px);
        @include wh(px, px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
    @include breakpoints(mobile) {
      flex-direction: column-reverse;
      padding-top: 50px;
      padding-bottom: 50px;
      .text {
        flex-direction: column;
        h1 {
          font-size: 32px;
          @include wh(334px, 270px);
        }
      }
      .image {
        .shutterstock {
          @include wh(328px, 219px);
        }
      }
    }
    @include breakpoints(small) {
      .text {
        flex-direction: column;
        @include centering;
        h1 {
          //   width: 455px;
          //   font-size: 37px;
          text-align: center;
        }
      }
      .image {
        .shutterstock {
          display: none;
        }
        .groupesst {
          display: none;
        }
      }
    }
    @include breakpoints(medium) {
      .text {
        h1 {
          width: 460px;
          font-size: 37px;
        }
      }
      .image {
        .shutterstock {
          @include wh(450px, 300px);
        }
      }
    }
  }
}
/* end landing */
/* start howworks */
.howworks {
  position: relative;
  .container {
    .text {
      @include centering;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 50px;
      .title {
        @include heading;
        @include wh(380px, 61px);
        color: $dark-blue;
      }
      p {
        font-size: 20px;
        letter-spacing: 0.25px;
        color: $grey;
      }
      @include breakpoints(mobile) {
        flex-direction: column;
        align-items: normal;
        .title {
          font-size: 32px;
        }
        p {
          font-size: 21px;
        }
      }
      @include breakpoints(small) {
        .title {
          font-size: 30px;
        }
        p {
          font-size: 13px;
        }
      }
      @include breakpoints(medium) {
        .title {
          font-size: 37px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }
  .boxs {
    @include centering;
    @include breakpoints(mobile) {
      flex-direction: column;
    }
    @for $i from 1 through 3 {
      .box-#{$i} {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 100%;
        height: 450px;
        .img-groupe {
          position: relative;
          @include centering;
          .par {
            @include wh(241px, 181px);
          }
          .ch {
            @include samewh(85px);
            position: absolute;
            top: 81%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          h4 {
            color: $dark-blue;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 35px;
            text-align: center;
            // padding: {
            //   top: 60px;
            //   bottom: 10px;
            // }
          }
          p {
            color: $grey;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
          }
          @include breakpoints(mobile) {
            margin-bottom: 60px;
          }
          @include breakpoints(small) {
            h4,
            p {
              font-size: 16px;
            }
          }
          @include breakpoints(medium) {
            h4,
            p {
              font-size: 18px;
            }
          }
        }
      }
      .box-2 {
        .text {
          p {
            font-weight: 700;
          }
        }
      }
    }
  }
  //lines
  @for $i from 1 through 2 {
    .line-#{$i} {
      position: absolute;
      top: 43%;
      transform: translate(-50%, -50%);
      width: 200px;
      @include breakpoints(mobile) {
        & {
          display: none;
        }
      }
      @include breakpoints(small) {
        & {
          display: none;
        }
      }
      @include breakpoints(medium) {
        & {
          display: none;
        }
      }
    }
    .line-1 {
      left: 35%;
    }
    .line-2 {
      left: 65%;
    }
  }
  .button-green {
    @include greenButton;
    margin: 50px auto;
    display: flex;
  }
  .linear {
    height: 1px;
    margin: {
      top: 30px;
      bottom: 30px;
    }
    background: linear-gradient(
      90deg,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.8) 50.38%,
      rgba(192, 204, 218, 0.1) 100%
    );
  }
  .comp {
    @include centering;
    justify-content: space-around;
    margin-bottom: 30px;
    h4 {
      @include heading;
      font-size: 28px;
      color: $dark-blue;
    }
    @include breakpoints(mobile) {
      // :not(h4) {
      //   display: none;
      // }
      :not(.let) {
        display: none;
      }
    }
    @include breakpoints(small) {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      justify-items: center;
      justify-content: space-between;
    }
  }
}
/* end howworks */
/* start third */
.third {
  background-color: $background;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  .vector {
    max-width: 900px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoints(mobile) {
      & {
        max-width: 540px;
        top: 15%;
        left: 90%;
      }
    }
    @include breakpoints(small) {
      & {
        max-width: 740px;
      }
    }
  }
  .container {
    .secone {
      @include centering;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 100px;
      > img {
        @include wh(500px, 329px);
        z-index: 100;
        margin-right: 150px;
      }
      .text {
        h2 {
          @include heading;
          @include wh(380px, 61px);
          color: $dark-blue;
        }
        .gr {
          @include centering;
          margin-top: 80px;
          > img {
            @include samewh(68px);
          }
          p {
            color: $dark-blue;
            font-size: 28px;
            margin-left: 20px;
            font-weight: 700;
          }
        }
      }
      @include breakpoints(mobile) {
        flex-direction: column;
        > img {
          margin-right: 0;
          margin-bottom: 50px;
          @include wh(328px, 219px);
        }
        .text {
          @include centering;
          flex-direction: column;
          align-items: flex-start;
          margin: auto;
          h2 {
            font-size: 32px;
          }
          .gr {
            p {
              font-size: 21px;
              width: 243px;
            }
          }
        }
      }
      @include breakpoints(small) {
        flex-direction: column;
        > img {
          margin-right: 0;
          margin-bottom: 50px;
        }
        .text {
          @include centering;
          flex-direction: column;
          h2 {
            text-align: center;
            font-size: 30px;
          }
          .gr {
            p {
              font-size: 20px;
            }
          }
        }
      }
      @include breakpoints(medium) {
        > img {
          @include wh(450px, 300px);
        }
        .text {
          h2 {
            font-size: 37px;
          }
          .gr {
            p {
              font-size: 23px;
            }
          }
        }
      }
    }
    .title {
      @include heading;
      @include wh(380px, 61px);
      color: $dark-blue;
      padding-bottom: 100px;
      @include breakpoints(mobile) {
        & {
          font-size: 32px;
        }
      }
      @include breakpoints(small) {
        & {
          font-size: 30px;
        }
      }
      @include breakpoints(medium) {
        & {
          font-size: 37px;
        }
      }
    }
    .sectwo {
      display: flex;
      flex-wrap: nowrap;
      gap: 40px;
      overflow: scroll;
      padding-bottom: 40px;
      &::-webkit-scrollbar {
        width: 0px;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #9c9c9c2b;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $dark-blue;
      }
      &::-webkit-scrollbar-track-piece {
        width: 1px;
      }
      &::-webkit-scrollbar-button {
        width: 1px;
      }
      @for $i from 1 through 5 {
        .box-#{$i} {
          background-color: $white;
          min-width: 240px;
          border-radius: $radius;
          z-index: 1000;
          > img {
            max-width: 100%;
            border: {
              top-left-radius: 6px;
              top-right-radius: 6px;
            }
          }
          .content {
            background-color: $white;
            padding: 20px;
            border: {
              bottom-left-radius: 6px;
              bottom-right-radius: 6px;
            }
            h6 {
              color: $blue;
              font-weight: 700;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.2px;
              padding-top: 20px;
            }
            h4 {
              color: $dark-blue;
              font-weight: 700;
              font-size: 28px;
              line-height: 35px;
              @include padd;
            }
            .groupe {
              position: relative;
              @include centering;
              padding-bottom: 40px;
              justify-content: space-between;
              .imgs {
                img {
                  @include centeringTransform;
                  left: 10%;
                }
                .imgs-2 {
                  left: 20%;
                }
                .imgs-3 {
                  left: 30%;
                }
              }
              span {
                color: $light-grey;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.2px;
                @include centeringTransform;
              }
            }
            p {
              @include padd;
              color: $green;
              font-weight: 700;
              font-size: 21px;
              line-height: 160%;
            }
            @include breakpoints(mobile) {
              h6 {
                font-size: 16px;
              }
              h4 {
                font-size: 19px;
              }
              p {
                font-size: 18px;
              }
            }
            @include breakpoints(small) {
              h6 {
                font-size: 16px;
              }
              h4 {
                font-size: 19px;
              }
              p {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
    .members {
      display: flex;
      align-items: center;
      padding: {
        top: 100px;
        bottom: 130px;
      }
      .joining {
        position: relative;
        .vrgl {
          @include wh(358.42px, 305px);
          position: absolute;
          top: -90px;
          left: 45%;
          opacity: 0.05;
          @include breakpoints(mobile) {
            & {
              @include wh(250px, 214px);
              top: -70px;
              left: 40%;
            }
          }
          @include breakpoints(small) {
            & {
              @include wh(300px, 250px);
              top: -40px;
              left: 40%;
            }
          }
        }
        h2 {
          @include heading;
          color: $blue;
          @include wh(400px, 253px);
          margin-right: 70px;
        }
        .button-green {
          @include greenButton;
        }
        @include breakpoints(mobile) {
          h2 {
            font-size: 32px;
          }
        }
        @include breakpoints(small) {
          h2 {
            font-size: 30px;
          }
        }
        @include breakpoints(medium) {
          h2 {
            font-size: 37px;
          }
        }
      }
      .boxs {
        display: flex;
        gap: 40px;
        flex-wrap: nowrap;
        overflow: hidden;
        padding-top: 60px;
        @for $i from 1 through 3 {
          &-#{$i} {
            background-color: $blue;
            color: $white;
            border-radius: $radius;
            padding: 100px 50px;
            position: relative;
            @include wh(850px, 440px);
            min-width: 580px;
            transition: all 0.3s;
            img {
              @include centeringTransform;
              @include samewh(100px);
              top: 0;
            }
            .text {
              p {
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                letter-spacing: 0.25px;
                @include wh(450px, 216px);
              }
              span {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.2px;
              }
            }
            .skills {
              @include padd;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 5px 0px;
              p {
                border: 1px solid $white;
                padding: 1px 11px 2px;
                opacity: 0.5;
                border-radius: 2px;
                font-weight: 700;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                margin-right: 5px;
              }
            }
          }
          @include breakpoints(mobile) {
            &-#{$i} {
              min-width: 100%;
              .text {
                p {
                  font-size: 17px;
                  @include wh(280px, 200px);
                }
              }
            }
          }
          @include breakpoints(medium) {
            &-#{$i} {
              min-width: 450px;
              .text {
                p {
                  font-size: 20px;
                  width: 380px;
                }
              }
            }
          }
        }
      }
      @include breakpoints(mobile) {
        & {
          flex-wrap: wrap;
          .boxs {
            padding-top: 100px;
          }
        }
      }
      @include breakpoints(small) {
        & {
          flex-wrap: wrap;
          .boxs {
            padding-top: 100px;
          }
        }
      }
    }
    .arrow {
      position: absolute;
      bottom: 50px;
      right: 160px;
      &-left,
      &-right {
        cursor: pointer;
      }
      @include breakpoints(mobile) {
        & {
          right: 20px;
        }
      }
      @include breakpoints(medium) {
        & {
          right: 60px;
        }
      }
    }
  }
}
/* end third */
/* start topics */
.topics {
  background-color: $blue;
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    @include breakpoints(mobile) {
      & {
        top: 40px;
        right: -700px;
        border-radius: 300px;
        transform: rotate(565deg);
      }
    }
    @include breakpoints(small) {
      & {
        height: 1000px;
        right: -700px;
      }
    }
    @include breakpoints(medium) {
      & {
        right: -400px;
        @include samewh(1000px);
      }
    }
  }
  .container {
    padding: {
      top: 100px;
      bottom: 100px;
    }
    display: flex;
    align-items: flex-start;
    .exploring {
      margin-right: 20px;
      z-index: 1000;
      h2 {
        color: $white;
        @include heading;
        @include wh(580px, 313px);
      }
      .button-green {
        @include greenButton;
      }
      @include breakpoints(mobile) {
        & {
          padding-bottom: 40px;
          h2 {
            font-size: 32px;
            width: 350px;
          }
        }
      }
      @include breakpoints(small) {
        & {
          padding-bottom: 40px;
          h2 {
            font-size: 30px;
          }
        }
      }
      @include breakpoints(medium) {
        & {
          h2 {
            font-size: 37px;
          }
        }
      }
    }
    .discussions {
      display: flex;
      flex-wrap: wrap;
      gap: 13px;
      z-index: 1000;
      p {
        color: $light-green;
        border: 1px solid $white;
        border-radius: $radius;
        padding: 10px 24px 14px;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
        height: 46px;
        @include breakpoints(medium) {
          & {
            font-size: 16px;
          }
        }
        @include breakpoints(medium) {
          & {
            font-size: 18px;
          }
        }
      }
      @include breakpoints(mobile) {
        gap: 7px;
        @for $i from 1 through 9 {
          &-#{$i} {
            display: none;
          }
        }
      }
    }
    @include breakpoints(mobile) {
      & {
        flex-direction: column;
      }
    }
    @include breakpoints(small) {
      flex-direction: column;
    }
  }
}
/* end topics */
/* start footer */
.footer {
  background-color: $background;
  position: relative;
  overflow: hidden;
  .container {
    padding: {
      top: 100px;
      bottom: 100px;
    }
    @include centering;
    .text {
      z-index: 1000;
      @include centering;
      flex-direction: column;
      > h1 {
        color: $dark-blue;
        @include wh(620px, 155px);
        @include heading;
        text-align: center;
        @include breakpoints(mobile) {
          & {
            font-size: 32px;
            width: 334px;
            height: 400px;
          }
        }
        @include breakpoints(small) {
          & {
            font-size: 30px;
            width: 550px;
          }
        }
        @include breakpoints(medium) {
          & {
            font-size: 37px;
          }
        }
      }
      .button-green {
        @include greenButton;
      }
    }
    .iph {
      @for $i from 1 through 2 {
        &-#{$i} {
          position: absolute;
          bottom: -30px;
          width: 300px;
        }
        &-1 {
          left: 20px;
        }
        &-2 {
          right: 20px;
        }
        @include breakpoints(mobile) {
          &-1 {
            left: 50%;
            transform: translateX(-50%);
            bottom: -90px;
          }
          &-2 {
            display: none;
          }
        }
        @include breakpoints(small) {
          &-#{$i} {
            display: none;
          }
        }
        @include breakpoints(medium) {
          &-#{$i} {
            display: none;
          }
        }
      }
    }
  }
}
/* end footer */
